In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/SP1.csv")
data.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,12/08/2022,20:00,Osasuna,Sevilla,2,1,H,1,1,...,1.52,0.25,1.73,2.08,1.76,2.20,1.88,2.23,1.79,2.09
1,SP1,13/08/2022,16:00,Celta,Espanol,2,2,D,1,0,...,1.70,-0.75,2.00,1.90,2.02,1.91,2.06,1.93,2.01,1.86
2,SP1,13/08/2022,18:00,Valladolid,Villarreal,0,3,A,0,0,...,1.79,0.25,2.02,1.88,2.02,1.91,2.03,1.91,1.98,1.88
3,SP1,13/08/2022,20:00,Barcelona,Vallecano,0,0,D,0,0,...,2.61,-1.75,1.82,2.08,1.83,2.08,1.86,2.14,1.82,2.06
4,SP1,14/08/2022,16:30,Cadiz,Sociedad,0,1,A,0,1,...,1.50,0.25,2.05,1.85,2.06,1.87,2.08,1.92,2.00,1.86

In [2]:
data = data[['HomeTeam','AwayTeam','FTHG','FTAG']]
data = data.rename(columns={'FTHG': 'HomeGoals', 'FTAG': 'AwayGoals'})
data.head()

     HomeTeam    AwayTeam  HomeGoals  AwayGoals
0     Osasuna     Sevilla          2          1
1       Celta     Espanol          2          2
2  Valladolid  Villarreal          0          3
3   Barcelona   Vallecano          0          0
4       Cadiz    Sociedad          0          1

In [3]:
def team_scoring_prediction(data, home_team, away_team):
    total_home_goals = data['HomeGoals'].sum()
    total_home_goals_mean = (total_home_goals/data.shape[0]).round(2)
    print("Average mean Home goal scored in EPL: " +str(total_home_goals_mean))
    
    total_away_goals = data['AwayGoals'].sum()
    total_away_goals_mean = (total_away_goals/data.shape[0]).round(2)
    print("Average mean Away goal scored in EPL: " +str(total_away_goals_mean))
    
    #Select the home team and away team
    
    home_team = data.loc[data['HomeTeam'] == home_team]
    away_team = data.loc[data['AwayTeam'] == away_team]
    
    #Home goals scored by home team and mean
    
    home_team_home_goals_score = home_team['HomeGoals'].sum()
    home_team_home_goals_score_mean = (home_team_home_goals_score/home_team.shape[0]).round(2)
    print("Average Home goal scored by Home team in EPL: " + str(home_team_home_goals_score_mean))
    
    #Home goals conceded by home team
    
    home_team_home_goals_concede = home_team['AwayGoals'].sum()
    home_team_home_goals_concede_mean = (home_team_home_goals_concede/home_team.shape[0]).round(2)
    print("Average Home goal conceded by Home team in EPL: " + str(home_team_home_goals_concede_mean))
    
    #Home team attacking strength 
    home_team_att_strength = (home_team_home_goals_score_mean/ total_home_goals_mean).round(2)
    print("Home team attacking strength: " + str(home_team_att_strength))
    
    #Home team defensive strength 
    home_team_def_strength = (home_team_home_goals_concede_mean/ total_away_goals_mean).round(2)
    print("Home team defensive strength: " + str(home_team_def_strength))
    
    #Away goals scored by away team and mean
    
    away_team_away_goals_score = away_team['AwayGoals'].sum()
    away_team_away_goals_score_mean = (away_team_away_goals_score/away_team.shape[0]).round(2)
    print("Average Away goal scored by Away team in EPL: " + str(away_team_away_goals_score_mean))
    
    #Away goals conceded by Away team
    
    away_team_away_goals_concede = away_team['HomeGoals'].sum()
    away_team_away_goals_concede_mean = (away_team_away_goals_concede/away_team.shape[0]).round(2)
    print("Average Away goal conceded by Away team in EPL: "+ str(away_team_away_goals_concede_mean))
    
    
    #Away team attacking strength 
    away_team_att_strength = (away_team_away_goals_score_mean/ total_away_goals_mean).round(2)
    print("Away team attacking strength: " + str(away_team_att_strength))
    
    #Away team defensive strength
    away_team_def_strength = (away_team_away_goals_concede_mean/ total_home_goals_mean).round(2)
    print("Away team defensive strength: " + str(away_team_def_strength))
    
    #Home team scoring strength
    home_team_goal_exp = (home_team_att_strength * away_team_def_strength * total_home_goals_mean).round(2)
    #home_team_goal_exp = (home_team_att_strength * away_team_def_strength).round(2)
    print("Home team goal expectance: "+ str(home_team_goal_exp))
    
    #Away team scoring strength
    away_team_goal_exp = (away_team_att_strength * home_team_def_strength * total_away_goals_mean).round(2)
    #away_team_goal_exp = (away_team_att_strength * home_team_def_strength).round(2)
    print("Away team goal expectance: " + str(away_team_goal_exp))
    
    return home_team_goal_exp, away_team_goal_exp

In [4]:
home_team_goal, away_team_goal = team_scoring_prediction(data, 'Barcelona','Real Madrid')

Average mean Home goal scored in EPL: 1.38
Average mean Away goal scored in EPL: 1.05
Average Home goal scored by Home team in EPL: 2.08
Average Home goal conceded by Home team in EPL: 0.15
Home team attacking strength: 1.51
Home team defensive strength: 0.14
Average Away goal scored by Away team in EPL: 1.79
Average Away goal conceded by Away team in EPL: 0.86
Away team attacking strength: 1.7
Away team defensive strength: 0.62
Home team goal expectance: 1.29
Away team goal expectance: 0.25

from numpy import random
home_team_poission = random.poisson(lam=home_team_goal, size=100000)
away_team_poission = random.poisson(lam=away_team_goal, size=100000)

In [5]:
from numpy import random 
bias = (50/100) 
home_team_poission = random.poisson(lam=home_team_goal, size=100000) 
away_team_poission = random.poisson(lam=away_team_goal + bias, size=100000)

In [6]:
def home_team_goal_prob(n):
    chance_g = 0
    for i in range(0, 10000):
        if home_team_poission[i] == n:
            chance_g = chance_g+1
            prob = chance_g/ 10000     
    return prob, chance_g

In [7]:
def away_team_goal_prob(n):
    chance_g = 0
    for i in range(0, 10000):
        if away_team_poission[i] == n:
            chance_g = chance_g+1
            prob = chance_g/ 10000     
    return prob, chance_g

In [8]:
home_0, g = home_team_goal_prob(0)
print(home_0, g)

home_1, g = home_team_goal_prob(1)
print(home_1, g)

home_2, g = home_team_goal_prob(2)
print(home_2, g)

home_3, g = home_team_goal_prob(3)
print(home_3, g)

home_4, g = home_team_goal_prob(4)
print(home_4, g)

home_5, g = home_team_goal_prob(5)
print(home_5, g)

0.2767 2767
0.3505 3505
0.2349 2349
0.0959 959
0.0332 332
0.007 70

In [9]:
away_0, g = away_team_goal_prob(0)
print(away_0, g)

away_1, g = away_team_goal_prob(1)
print(away_1, g)

away_2, g = away_team_goal_prob(2)
print(away_2, g)

away_3, g = away_team_goal_prob(3)
print(away_3, g)

away_4, g = away_team_goal_prob(4)
print(away_4, g)

away_5, g = away_team_goal_prob(5)
print(away_5, g)

0.462 4620
0.3617 3617
0.1343 1343
0.0347 347
0.0062 62
0.0011 11

In [10]:
home_chance = [home_0, home_1, home_2, home_3, home_4, home_5]
home_chance_frame = pd.DataFrame(home_chance, columns=['Probs'])
home_chance_frame = home_chance_frame
home_chance_frame

    Probs
0  0.2767
1  0.3505
2  0.2349
3  0.0959
4  0.0332
5  0.0070

In [11]:
away_chance= [away_0, away_1, away_2, away_3, away_4, away_5]
away_chance_frame = pd.DataFrame(away_chance, columns=['Probs'])
away_chance_frame = away_chance_frame
away_chance_frame

    Probs
0  0.4620
1  0.3617
2  0.1343
3  0.0347
4  0.0062
5  0.0011

In [12]:
df_cross = home_chance_frame.dot(away_chance_frame.T)
df_cross = df_cross.round(3)

In [13]:
def printDiagonalSums(mat, n):
    principal = 0
    secondary = 0;
    for i in range(0, n):
        for j in range(0, n):
 
            # Condition for principal diagonal
            if (i == j):
                principal += mat[i][j]
 
            # Condition for secondary diagonal
            if ((i + j) == (n - 1)):
                secondary += mat[i][j]
         
    return principal

In [14]:
import numpy as np
principal = printDiagonalSums(df_cross, 5)
print(principal)

df_cross_up = df_cross.where(np.triu(np.ones(df_cross.shape)).astype(np.bool))
print(df_cross_up)

0.29000000000000004
       0      1      2      3      4    5
0  0.128  0.100  0.037  0.010  0.002  0.0
1    NaN  0.127  0.047  0.012  0.002  0.0
2    NaN    NaN  0.032  0.008  0.001  0.0
3    NaN    NaN    NaN  0.003  0.001  0.0
4    NaN    NaN    NaN    NaN  0.000  0.0
5    NaN    NaN    NaN    NaN    NaN  0.0

/Users/aritramajumdar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """

In [15]:
draw = principal

home_team_win = df_cross.sum().sum() - df_cross_up.sum().sum()
away_team_win = df_cross_up.sum().sum() - principal


print("machineball home win chance: " + str(np.round(home_team_win, 3)*100))
print("machineball draw chance: " + str(np.round(draw, 3)*100))
print("machineball away chance: " + str(np.round(away_team_win, 3)*100))

print("machineball total chance: " + str(np.round(home_team_win, 3)*100 + np.round(draw, 3)*100 + np.round(away_team_win, 3)*100))

machineball home win chance: 48.699999999999996
machineball draw chance: 28.999999999999996
machineball away chance: 22.0
machineball total chance: 99.69999999999999

In [16]:
draw_odds = 1/ draw
home_team_win_odds = 1/ home_team_win
away_team_win_odds = 1/ away_team_win


print("machineball home team win odds: " + str(np.round(home_team_win_odds, 2)))
print("machineball draw odds: " + str(np.round(draw_odds, 2)))
print("machineball away team win odds: " + str(np.round(away_team_win_odds, 2)))

machineball home team win odds: 2.05
machineball draw odds: 3.45
machineball away team win odds: 4.55

In [17]:
bookie_home_team_win_odds = 2.20
bookie_draw = 3.40
bookie_away_team_win_odds = 3.20

Bookie_home_win = 1/ bookie_home_team_win_odds
Bookie_draw = 1/ bookie_draw
Bookie_away_win = 1/ bookie_away_team_win_odds

print("Bookie home win chance: " + str(np.round(Bookie_home_win * 100, 2)))
print("Bookie draw chance: " + str(np.round(Bookie_draw * 100, 2)))
print("Bookie away win chance: " +str(np.round(Bookie_away_win * 100)))
print("Bookie total chance: " + str(np.round(Bookie_home_win * 100, 2) + np.round(Bookie_draw * 100, 2) + np.round(Bookie_away_win * 100)))

Bookie home win chance: 45.45
Bookie draw chance: 29.41
Bookie away win chance: 31.0
Bookie total chance: 105.86