In [1]:
import pandas as pd
import numpy as np

In [2]:
def roll_dice():
    #This will generate a random number between 1 (inclusive) and 7 (exclusive)
    player_a = np.random.randint(1, 7)
    player_b = np.random.randint(1, 7)
    
    if player_a > player_b:
        print(f"Player A wins and the number {player_a} > {player_b}")
    elif player_a == player_b:
        print(f"draw because {player_a} = {player_b}")
    else:
        print(f"Player B wins and the number {player_b} > {player_a}")

In [3]:
for i in range(0, 10):
    roll_dice()

Player B wins and the number 5 > 3
Player A wins and the number 6 > 3
Player B wins and the number 2 > 1
Player A wins and the number 3 > 2
Player A wins and the number 3 > 1
draw because 6 = 6
Player B wins and the number 6 > 5
Player B wins and the number 2 > 1
Player B wins and the number 6 > 2
Player A wins and the number 4 > 1

In [4]:
def roll_dice_win():
    #This will generate a random number between 1 (inclusive) and 7 (exclusive)
    player_a = np.random.randint(1, 7)
    player_b = np.random.randint(1, 7)
    
    return player_a, player_b

In [5]:
player_a_win = 0
draw = 0
player_b_win = 0
numer_of_games = 10000

for i in range(0, numer_of_games):
    a, b = roll_dice_win()
    
    if a > b:
        player_a_win = player_a_win + 1

    elif a == b:
        draw = draw +  1
        
    elif a < b:
        player_b_win = player_b_win + 1
              
print(f"Player A won {player_a_win} times and {(player_a_win/ numer_of_games)*100}% of the games")
print(f"Draw happens {draw} times and {(draw/ numer_of_games)*100}% of the games")
print(f"Player B won {player_b_win} times and {(player_b_win/ numer_of_games)*100}% of the games")

Player A won 4105 times and 41.05% of the games
Draw happens 1602 times and 16.02% of the games
Player B won 4293 times and 42.93% of the games

In [6]:
data = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/E0.csv")
data = data[['HomeTeam','AwayTeam','FTHG','FTAG']]
data = data.rename(columns={'FTHG': 'HomeGoals', 'FTAG': 'AwayGoals'})
data.head()

         HomeTeam       AwayTeam  HomeGoals  AwayGoals
0  Crystal Palace        Arsenal          0          2
1          Fulham      Liverpool          2          2
2     Bournemouth    Aston Villa          2          0
3           Leeds         Wolves          2          1
4       Newcastle  Nott'm Forest          2          0

In [7]:
def team_scoring_prediction(data, home_team, away_team):
    total_home_goals = data['HomeGoals'].sum()
    total_home_goals_mean = (total_home_goals/data.shape[0]).round(2)
    print("Average mean Home goal scored in EPL: " +str(total_home_goals_mean))
    
    total_away_goals = data['AwayGoals'].sum()
    total_away_goals_mean = (total_away_goals/data.shape[0]).round(2)
    print("Average mean Away goal scored in EPL: " +str(total_away_goals_mean))
    
    #Select the home team and away team
    
    home_team = data.loc[data['HomeTeam'] == home_team]
    away_team = data.loc[data['AwayTeam'] == away_team]
    
    #Home goals scored by home team and mean
    
    home_team_home_goals_score = home_team['HomeGoals'].sum()
    home_team_home_goals_score_mean = (home_team_home_goals_score/home_team.shape[0]).round(2)
    print("Average Home goal scored by Home team in EPL: " + str(home_team_home_goals_score_mean))
    
    #Home goals conceded by home team
    
    home_team_home_goals_concede = home_team['AwayGoals'].sum()
    home_team_home_goals_concede_mean = (home_team_home_goals_concede/home_team.shape[0]).round(2)
    print("Average Home goal conceded by Home team in EPL: " + str(home_team_home_goals_concede_mean))
    
    #Home team attacking strength 
    home_team_att_strength = (home_team_home_goals_score_mean/ total_home_goals_mean).round(2)
    print("Home team attacking strength: " + str(home_team_att_strength))
    
    #Home team defensive strength 
    home_team_def_strength = (home_team_home_goals_concede_mean/ total_away_goals_mean).round(2)
    print("Home team defensive strength: " + str(home_team_def_strength))
    
    #Away goals scored by away team and mean
    
    away_team_away_goals_score = away_team['AwayGoals'].sum()
    away_team_away_goals_score_mean = (away_team_away_goals_score/away_team.shape[0]).round(2)
    print("Average Away goal scored by Away team in EPL: " + str(away_team_away_goals_score_mean))
    
    #Away goals conceded by Away team
    
    away_team_away_goals_concede = away_team['HomeGoals'].sum()
    away_team_away_goals_concede_mean = (away_team_away_goals_concede/away_team.shape[0]).round(2)
    print("Average Away goal conceded by Away team in EPL: "+ str(away_team_away_goals_concede_mean))
    
    
    #Away team attacking strength 
    away_team_att_strength = (away_team_away_goals_score_mean/ total_away_goals_mean).round(2)
    print("Away team attacking strength: " + str(away_team_att_strength))
    
    #Away team defensive strength
    away_team_def_strength = (away_team_away_goals_concede_mean/ total_home_goals_mean).round(2)
    print("Away team defensive strength: " + str(away_team_def_strength))
    
    #Home team scoring strength
    home_team_goal_exp = (home_team_att_strength * away_team_def_strength * total_home_goals_mean).round(2)
    #home_team_goal_exp = (home_team_att_strength * away_team_def_strength).round(2)
    print("Home team goal expectance: "+ str(home_team_goal_exp))
    
    #Away team scoring strength
    away_team_goal_exp = (away_team_att_strength * home_team_def_strength * total_away_goals_mean).round(2)
    #away_team_goal_exp = (away_team_att_strength * home_team_def_strength).round(2)
    print("Away team goal expectance: " + str(away_team_goal_exp))
    
    return home_team_goal_exp, away_team_goal_exp

In [8]:
home_team_goal, away_team_goal = team_scoring_prediction(data, 'Aston Villa','Bournemouth')

Average mean Home goal scored in EPL: 1.6
Average mean Away goal scored in EPL: 1.13
Average Home goal scored by Home team in EPL: 1.64
Average Home goal conceded by Home team in EPL: 1.36
Home team attacking strength: 1.02
Home team defensive strength: 1.2
Average Away goal scored by Away team in EPL: 0.86
Average Away goal conceded by Away team in EPL: 2.71
Away team attacking strength: 0.76
Away team defensive strength: 1.69
Home team goal expectance: 2.76
Away team goal expectance: 1.03

In [9]:
print("Home team goal: " +str(home_team_goal))
print("Away team goal: " +str(away_team_goal))

Home team goal: 2.76
Away team goal: 1.03

In [10]:
home_team_goal_per_95 = home_team_goal/ 95
away_team_goal_per_95 = away_team_goal/ 95

print("Home team goal per 95 minutes: " +str(np.round(home_team_goal_per_95, 3)))
print("Away team goal per 95 minutes: " +str(np.round(away_team_goal_per_95, 3)))

Home team goal per 95 minutes: 0.029
Away team goal per 95 minutes: 0.011

In [11]:
def team_goals(total_minutes, probability):
    goals = 0
    for minute in range(total_minutes):
        random_prob = np.random.random()
        if (probability > random_prob):
            goals = goals + 1
    return goals

In [12]:
total_minutes = 95
home_team_goals = []

def home_team_goal_prob(n):
    goals = 0
    for i in range(0, 10000):
        home_team_goals.append(team_goals(total_minutes, home_team_goal_per_95))
        if home_team_goals[i] == n:
            goals = goals+1
            prob = goals/ 10000     
    return prob, goals

In [13]:
home_0, g = home_team_goal_prob(0)
print(home_0, g)

home_1, g = home_team_goal_prob(1)
print(home_1, g)

home_2, g = home_team_goal_prob(2)
print(home_2, g)

home_3, g = home_team_goal_prob(3)
print(home_3, g)

home_4, g = home_team_goal_prob(4)
print(home_4, g)

home_5, g = home_team_goal_prob(5)
print(home_5, g)

0.0627 627
0.1746 1746
0.241 2410
0.227 2270
0.157 1570
0.0841 841

In [14]:
home_chance = [home_0, home_1, home_2, home_3, home_4, home_5]
home_chance_frame = pd.DataFrame(home_chance, columns=['Probs'])
home_chance_frame = home_chance_frame
home_chance_frame

    Probs
0  0.0627
1  0.1746
2  0.2410
3  0.2270
4  0.1570
5  0.0841

In [15]:
total_minutes = 95
away_team_goals = []

def away_team_goal_prob(n):
    goals = 0
    for i in range(0, 10000):
        away_team_goals.append(team_goals(total_minutes, away_team_goal_per_95))
        if away_team_goals[i] == n:
            goals = goals+1
            prob = goals/ 10000     
    return prob, goals

In [16]:
away_0, g = away_team_goal_prob(0)
print(away_0, g)

away_1, g = away_team_goal_prob(1)
print(away_1, g)

away_2, g = away_team_goal_prob(2)
print(away_2, g)

away_3, g = away_team_goal_prob(3)
print(away_3, g)

away_4, g = away_team_goal_prob(4)
print(away_4, g)

away_5, g = away_team_goal_prob(5)
print(away_5, g)

0.3612 3612
0.3697 3697
0.1845 1845
0.0628 628
0.0171 171
0.0038 38

In [17]:
away_chance= [away_0, away_1, away_2, away_3, away_4, away_5]
away_chance_frame = pd.DataFrame(away_chance, columns=['Probs'])
away_chance_frame = away_chance_frame
away_chance_frame

    Probs
0  0.3612
1  0.3697
2  0.1845
3  0.0628
4  0.0171
5  0.0038

In [18]:
df_cross = home_chance_frame.dot(away_chance_frame.T)
df_cross = df_cross.round(3)
df_cross

       0      1      2      3      4      5
0  0.023  0.023  0.012  0.004  0.001  0.000
1  0.063  0.065  0.032  0.011  0.003  0.001
2  0.087  0.089  0.044  0.015  0.004  0.001
3  0.082  0.084  0.042  0.014  0.004  0.001
4  0.057  0.058  0.029  0.010  0.003  0.001
5  0.030  0.031  0.016  0.005  0.001  0.000

In [19]:
def printDiagonalSums(mat, n):
 
    principal = 0
    secondary = 0;
    for i in range(0, n):
        for j in range(0, n):
 
            # Condition for principal diagonal
            if (i == j):
                principal += mat[i][j]
 
            # Condition for secondary diagonal
            if ((i + j) == (n - 1)):
                secondary += mat[i][j]
         
    return principal

In [20]:
principal = printDiagonalSums(df_cross, 5)
print(principal)

df_cross_up = df_cross.where(np.triu(np.ones(df_cross.shape)).astype(np.bool))
print(df_cross_up)

0.14900000000000002
       0      1      2      3      4      5
0  0.023  0.023  0.012  0.004  0.001  0.000
1    NaN  0.065  0.032  0.011  0.003  0.001
2    NaN    NaN  0.044  0.015  0.004  0.001
3    NaN    NaN    NaN  0.014  0.004  0.001
4    NaN    NaN    NaN    NaN  0.003  0.001
5    NaN    NaN    NaN    NaN    NaN  0.000

/Users/aritramajumdar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  after removing the cwd from sys.path.

In [21]:
draw = principal

home_team_win = df_cross.sum().sum() - df_cross_up.sum().sum()
away_team_win = df_cross_up.sum().sum() - principal


print("machineball home win chance: " + str(np.round(home_team_win, 3)*100))
print("machineball draw chance: " + str(np.round(draw, 3)*100))
print("machineball away chance: " + str(np.round(away_team_win, 3)*100))

print("machineball total chance: " + str(np.round(home_team_win, 3)*100 + np.round(draw, 3)*100 + np.round(away_team_win, 3)*100))

machineball home win chance: 68.4
machineball draw chance: 14.899999999999999
machineball away chance: 11.3
machineball total chance: 94.60000000000001

In [22]:
draw_odds = 1/ draw
home_team_win_odds = 1/ home_team_win
away_team_win_odds = 1/ away_team_win


print("machineball home team win odds: " + str(np.round(home_team_win_odds, 2)))
print("machineball draw odds: " + str(np.round(draw_odds, 2)))
print("machineball away team win odds: " + str(np.round(away_team_win_odds, 2)))

machineball home team win odds: 1.46
machineball draw odds: 6.71
machineball away team win odds: 8.85

In [23]:
bookie_home_team_win_odds = 1.73
bookie_draw = 3.75
bookie_away_team_win_odds = 4.75

Bookie_home_win = 1/ bookie_home_team_win_odds
Bookie_draw = 1/ bookie_draw
Bookie_away_win = 1/ bookie_away_team_win_odds

print("Bookie home win chance: " + str(np.round(Bookie_home_win * 100, 2)))
print("Bookie draw chance: " + str(np.round(Bookie_draw * 100, 2)))
print("Bookie away win chance: " +str(np.round(Bookie_away_win * 100)))
print("Bookie total chance: " + str(np.round(Bookie_home_win * 100, 2) + np.round(Bookie_draw * 100, 2) + np.round(Bookie_away_win * 100)))

Bookie home win chance: 57.8
Bookie draw chance: 26.67
Bookie away win chance: 21.0
Bookie total chance: 105.47

In [24]:
df_cross['Home_scoring'] = df_cross.index
df_cross.set_index(["Home_scoring"], inplace = True,
                            append = True, drop = True)

df_cross = df_cross.rename_axis("Away_scoring", axis="columns")
df_cross

Away_scoring        0      1      2      3      4      5
  Home_scoring
0 0             0.023  0.023  0.012  0.004  0.001  0.000
1 1             0.063  0.065  0.032  0.011  0.003  0.001
2 2             0.087  0.089  0.044  0.015  0.004  0.001
3 3             0.082  0.084  0.042  0.014  0.004  0.001
4 4             0.057  0.058  0.029  0.010  0.003  0.001
5 5             0.030  0.031  0.016  0.005  0.001  0.000

In [25]:
total_minutes = 95
home_team_goals = []
away_team_goals = []

home_team_win = 0
draw = 0
away_team_win = 0
number_of_games = 10000

for i in range(0, numer_of_games):
    home_team_goals.append(team_goals(total_minutes, home_team_goal_per_95))
    away_team_goals.append(team_goals(total_minutes, away_team_goal_per_95))
    
    if home_team_goals[i] > away_team_goals[i]:
        home_team_win = home_team_win+1
    elif home_team_goals[i] == away_team_goals[i]:
        draw = draw + 1
    else:
        away_team_win = away_team_win+1
      
print(f"Home team won {home_team_win} times and {(home_team_win/ number_of_games)*100}% of the games")
print(f"Draw happens {draw} times and {(draw/ number_of_games)*100}% of the games")
print(f"Away team won {away_team_win} times and {(away_team_win/ number_of_games)*100}% of the games")

Home team won 7325 times and 73.25% of the games
Draw happens 1530 times and 15.299999999999999% of the games
Away team won 1145 times and 11.450000000000001% of the games